:root {
  --sticker-width: 60px;
  --main-color: #FF1B57;
  --secondary-color: #772384;
}

body {
  margin: 40px;
  font-family: Open Sans;
}
  
.outer-border{
  width: 650px;
  border-style: solid;
  border-width: 1px;
}

.wrapper {
  width: 650px;
  display: grid;
  gap: 5px;
  grid-template-columns: 200px 200px 95px 140px;
  grid-template-rows: 60px 40px 40px 60px 60px 60px 10px;
  color: #444;
  background-color: #ddd;
  background-size: 100% auto;
}

.box {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.box .box {
  background-color: rgba(128,128,128, 0.4);
}

.flexible-text {
  padding: 0.4em 0.5em 0.4em 0.5em;
  background-color: var(--main-color);
}

.flexible-text--dark {
  padding: 0.4em 0.5em 0.4em 0.5em;
  background-color: #444;
}

.a {
  font-size: 180%;
  font-weight: bold;
  grid-column: 1/span 2;
  align-self: end;
  background: transparent;
  margin-left: -0.4em;
}

.b {
  grid-row: 4;
  grid-column: 4 / 4;
  margin-right: -10px; 
  align-self: end;
  text-align: center;
  background-color: var(--secondary-color) !important;
}

.c {
  grid-column: 1;
  grid-row: 2;
  background: transparent;
  margin-left: -0.7em;
}

.d{
  grid-column: 2 / span 3;
  grid-row: 4;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  background-color: transparent;
}

.f {
  grid-row: 5/5;
  grid-column: 3 / 3;
  margin-right: 5px;
  font-size: 360%;
  font-weight: bold;
  text-align: right;
}

.f p{
  font-size: 20%;
  font-weight: normal;
  text-align: right;
}


.l {
  grid-row: 5;
  grid-column: 4 / 4;
  margin-right: -10px;
  font-size: 360%;
  font-weight: bold;
  text-align: right;
}

.l p{
  font-size: 20%;
  font-weight: normal;
  text-align: right;
}

.g {
  grid-column: 1;
  grid-row: 4 / span 1;
  width: var(--sticker-width);
  padding: 1.5em;
}

.h {
  grid-column: 1;
  grid-row: 5 / span 1;
  width: var(--sticker-width);
  padding: 1.5em;
}

.i {
  grid-column: 1;
  grid-row: 6 / span 1;
  width: var(--sticker-width);
  padding: 1.5em;
}

.caption{
  display: grid;
  gap: 0;
  grid-template-columns: 475px 170px;
  grid-template-rows: repeat(2, 1fr);
  max-width: 650px;
  height: 80px;
  background-color: #fff;
  color: #4a4a4a;
}

.caption_header{
  padding: 1em 0.2em 0.2em 1em;
  font-weight: bold;
  width: 450px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.caption_marketing-tag{
  grid-row: 2;
  padding: 0 0 0 1em;
  width: 450px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.caption_read-more{
  padding-top: 2em;
  grid-column: 2;
  grid-row: 1;
  color: #fff;  
  align-self: end;
  text-align: left;
}

.caption_read-more span{
  background-color: none;
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--main-color);
  background-color: var(--main-color);
  font-weight: bold;
  font-size: 100%;
}
